.container{
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
    z-index: var(--farthest);
    margin-bottom: 20px;
}

.title{
    font-family: var(--font);
    font-size: var(--h4-font-size);
    font-weight: var(--h4-font-weight);
    line-height: var(--h4-line-height);
    color: #3A4374;
}

.desc{
    font-family: var(--font);
    font-size: 14px;
    line-height: 20.23px;
    font-weight: 400;
    color: #647196;
    margin-bottom: 14px;
}

.textarea{
    height: 96px;
    resize: none;
    border: none;
    background-color: #F7F8FD;
    border-radius: 5px;
    padding: 13px 24px;
    font-family: var(--font);
    font-size: var(--body-two-font-size);
    font-weight: var(--body-two-font-weight);
    line-height: var(--body-two-line-height);
    color: #3A4374;
    transition: none;
}

.textarea:hover{
    border: 1px solid #4661E6;
}

.textarea:focus{
    border: 2px solid #4661E6;
    outline: none;
}

.errorMessage{
    display: none;
    position: absolute;
    bottom: -20px;
    left: 0px;
    font-family: var(--font);
    font-size: 14px;
    line-height: 20.23px;
    font-weight: 400;
    color: #D73737;
}


@media(max-width: 603px){
    .container{
        gap: 3px;
    }
    .title, .desc, .textarea{
        font-size: 13px;
        line-height: 18.79px;
    }
    .desc{
        margin-bottom: 13px;
    }

    .textarea{
        padding: 16px;
    }

}