.container{
    width: 100%;
    height: 137px;
    background-image: url('./images/background-header-desktop.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    padding: 0px 0px 24px 24px;
}

.content{
    display: flex;
    flex-direction: column;
    width: 153px;
    height: 51px;
}

.title{
    white-space: nowrap;
    font-family: var(--font);
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    letter-spacing: var(--h2-letter-spacing);
    font-weight: var(--h2-font-weight);
    color: white;
}

.desc{
    white-space: nowrap;
    font-family: var(--font);
    font-weight: 500;
    font-size: 15px;
    line-height: 21.68px;
    color: white;
}

.overlay{
    display: none;
    opacity: 0;
    position: absolute;
    top: 72px;
    width: 100%;
    height: 92.2vh;
    left: 0px;
    right: 0px;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    z-index: var(--closest);
}


.mobileMenu{
    width: 271px;
    height: 100%;
    background-color: #F7F8FD;
    position: absolute;
    right: -100%;
}


.mobileIcon{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 24px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.mobileIcon:hover{
    background-color: grey;
}

@media(max-width: 900px){
    .container{
        padding: 0px 0px 24px 10px;
    }
}

@media(max-width: 840px){
    .container{
        width: 33%;
        height: 178px;
        padding: 0px 0px 24px 24px;
        background-image: url('./images/background-header-tablet.png')
    }
}

@media(max-width: 721px){
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        height: 210px;
    }
}

@media(max-width: 647px){
    .container{
        height: 254px;
    }
}

@media(max-width: 603px){
    .container{
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 72px;
        border-radius: 0px;
        justify-content: flex-start;
        padding-left: 24px;
        background-image: url('./images/background-header-mobile.png')
    }
    .title{
        font-size: 15px;
        line-height: 21.68px;
        letter-spacing: -0.19px;
    }
    .desc{
        font-size: 13px;
        line-height: 18.79px;
    }
    .content{
        width: 115px;
        height: 41px;
    }


    .mobileIcon{
        -webkit-mask-image: url('./images/icon-hamburger.svg');
        -webkit-mask-repeat: no-repeat;
        mask-image: url('./images/icon-hamburger.svg');
        mask-repeat: no-repeat;
        background-color: white;
    }
}
