.container{
    width: 350px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

.message{
    font-family: var(--font);
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    line-height: var(--h3-line-height);
    letter-spacing: var(--h3-letter-spacing);
    color: #3A4374;
}

@media(max-width: 1160px){
    .container{
        width: 100%;
    }
}


@media(max-width: 607px){
    .container{
        justify-content: center;        
    }

}