.statusTitle{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.grid{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 350px);
    column-gap: 30px;
}

.posts{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media(max-width: 1160px){
    .grid{
        grid-template-columns: repeat(3, 31.33%);
        gap: 10px;
    }
}

@media(max-width: 606px){
    .grid{
        grid-template-columns: 90%;
        justify-content: center;
    }
}