.container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 32px;
}

.statusTitle{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.title{
    font-family: var(--font);
    font-size: var(--h4-font-size);
    font-weight: var(--h4-font-weight);
    line-height: var(--h4-line-height);
    color: #3A4374;
}

.desc{
    font-family: var(--font);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #647196;
}